

<div class="tc">

    <h1>RobotFriends</h1>
    <div className="pa2">
      <input
        type="search"
        class="pa3 ba b--green bg-lightest-blue"
        placeholder="Search robots"
      />
    </div>

    <br>

    <!-- <div class="scroll">
        <app-card [robot]="robot1"></app-card>
        <app-card [robot]="robot2"></app-card>
        <app-card [robot]="robot3"></app-card>
    </div> -->

    <div class="scroll">
        @for (robot of robot; track robot.id){
            <app-card [robot]="robot"></app-card>
        }
    </div>
    
  </div>
  
  <router-outlet></router-outlet>